<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ساز - ویرایشگر</title>

    <%-global_header%>
        <link rel="stylesheet" href="/styles/components.css">
        <link rel="stylesheet" href="/styles/editor.css">

        <script src="/scripts/components.js"></script>
        <script src="/scripts/editor.js"></script>

        <script src="/libs/three.js/build/three.min.js"></script>
        <script src="/libs/three.js/examples/js/libs/draco/draco_decoder.js"></script>
        <script src="/libs/three.js/examples/js/loaders/DRACOLoader.js"></script>
        <script src="/libs/three.js/examples/js/loaders/GLTFLoader.js"></script>
        <script src="/libs/three.js/examples/js/controls/OrbitControls.js"></script>
</head>

<body>
    <script>
        const PROJECT_DATA = JSON.parse('<%-projectData%>')
    </script>

    <div id="EditorContainer">
        <div id="ToolBar">
            <div id="btnSaveEditorChanges" class="btn" title="ذخیره کردن"></div>
        </div>
        <div id="ComponentsAdder" class="open">
            <div class="header pd4-10 brdButton" data-title-open="Components"></div>
            <div id="ComponentsAdderComponentsContainer"></div>
        </div>
        <div id="EditorArea">
            <div id="Page" style="transition: transform 0.2s ease;">
                <div id="Viewport"></div>
            </div>
        </div>
        <div id="Timeline" class="open">
            <div id="TimelineHeader" class="header pd4-10 flex brdButton" data-title-open="Animation Keyframe">
                <div>
                    <button id="PageScrollYEditorPlayPause" class="flex">
                        <img src="/images/play.svg" alt="playAndPause">
                    </button>
                </div>
                <div>
                    <button id="PageScrollYEditorPlayPause" class="flex">
                        <img src="/images/jumpToStart.svg" alt="playAndPause">
                    </button>
                </div>
            </div>
            <div id="PageScrollYEditor" class="flex brdRight ovau">
                <div id="PageScrollYEditorAnimatedComponents" class="flexColumn w10 pd4-10">
                    <div class="AnimationComponent cupo">Component 1</div>
                    <div class="AnimationComponent cupo">Component 2</div>
                    <div class="AnimationComponent cupo">Component 3</div>
                </div>

                <div id="PageScrollYEditorTimeline" class="w90">
                    <!-- خط‌کش با اعداد -->
                    <div id="timelineRuler"></div>

                    <!-- خطوط راهنمای تایم‌لاین -->
                    <div id="timelineGrid"></div>

                    <!-- نشانگر موقعیت فعلی -->
                    <div id="TimelineIndicator"></div>

                    <!-- کیفریم‌های نمونه -->
                    <div class="TimelineKeyframe" style="left: 35%;"></div>
                    <div class="TimelineKeyframe" style="left: 50%;"></div>
                    <div class="TimelineKeyframe" style="left: 100%;"></div>
                </div>
            </div>
        </div>
        <div id="ComponentsTree" class="open">
            <div class="header pd4-10 brdButton" data-title-open="Tree"></div>
        </div>
        <div id="ComponentsProperties" class="open">
            <div class="header pd4-10 brdButton" data-title-open="Properties"></div>
        </div>
    </div>

    <div id="fileuploader" class="hidden">
        <form id="form_fileUploader" method="POST" action="/api/uploadFile/<%-projectId%>"
            enctype="multipart/form-data">
            <input type="file" name="projectFile">
        </form>
    </div>
</body>

</html>