<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ساز - ویرایشگر</title>

    <%-global_header%>
        <link rel="stylesheet" href="/styles/editor.css">
        <script src="/scripts/editor.js"></script>

        <script src="/libs/three.js/build/three.min.js"></script>
        <script src="/libs/three.js/examples/js/libs/draco/draco_decoder.js"></script>
        <script src="/libs/three.js/examples/js/loaders/DRACOLoader.js"></script>
        <script src="/libs/three.js/examples/js/loaders/GLTFLoader.js"></script>
        <script src="/libs/three.js/examples/js/controls/OrbitControls.js"></script>
</head>

<body>
    <script>
        const PROJECT_DATA = JSON.parse('<%-projectData%>')
    </script>

    <div id="EditorContainer">
        <div id="ComponentsAdder"></div>
        <div id="EditorArea">
            <div id="Page"></div>
            <div id="Viewport"></div>
        </div>
        <div id="Timeline"></div>
        <div id="ComponentsThree"></div>
        <div id="ComponentsProperties"></div>
    </div>

    <div id="fileuploader" class="hidden">
        <form id="form_fileUploader" method="POST" action="/api/uploadFile/<%-projectId%>"
            enctype="multipart/form-data">
            <input type="file" name="projectFile">
        </form>
    </div>
</body>

</html>