<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ساز - پروژه ها</title>

    <%-global_header%>
        <link rel="stylesheet" href="/styles/home.css">
        <script src="/scripts/home.js"></script>
</head>

<body>
    <script>
        const PROJECTS = JSON.parse('<%-projects%>')
    </script>

    <div id="projectsTable"></div>

    <div class="view" id="newProject">
        <div class="window">
            <div class="toolbar" data-toolbar-title="پروژه جدید">
                <div class="btn close" onclick="closeView('#newProject')"></div>
            </div>
            <div class="contents">
                <div class="section">
                    <div class="pdrl10" data-title="اطلاعات پایه" style="font-weight: bold;"></div>

                    <div class="pdrl10" data-title="نام پروژه"></div>
                    <input type="text" id="project_Name">

                    <div class="pdrl10" data-title="جهت کلی محتوای صفحه"></div>
                    <select id="project_Direction">
                        <option value="rtl" selected>راست به چپ (rtl)</option>
                        <option value="rtl">چپ به راست (ltr)</option>
                    </select>

                    <div class="pdrl10" data-title="ابعاد صفحه (قابل تغییر در ویرایشگر)"></div>
                    <select id="project_StarterSize">
                        <optgroup label="دسکتاپ">
                            <option value="1920x1080">مانیتور (1920x1080)</option>
                            <option value="1280x720">مانیتور (1280x720)</option>
                            <option value="1728x1117">مک بوک پرو 16 اینچی (1728x1117)</option>
                            <option value="1512x982">مک بوک پرو 14 اینچی (1512x982)</option>
                            <option value="1440x960">سرفیس پرو 8 (1440x960)</option>
                        </optgroup>
                        <optgroup label="تبلت">
                            <option value="1024x1366">آی پد پرو 12.9 اینچی (1024x1366)</option>
                            <option value="744x1133">آی پد مینی 8.3 اینچی (744x1133)</option>
                            <option value="1280x800">اندروید (1280x800)</option>
                        </optgroup>
                        <optgroup label="موبایل">
                            <option value="440x956">آیفون 16 پرو مکس (440x956)</option>
                            <option value="393x852">آیفون 16 (393x852)</option>
                            <option value="320x568">آیفون SE (320x568)</option>
                            <option value="412x917">اندروید (412x917)</option>
                        </optgroup>
                    </select>
                    <div class="pdrl10 flexFullCenter">
                        <div style="width: 50%;">
                            <div data-title="طول (پیکسل)"></div>
                            <div><input type="number" id="project_Width"></div>
                        </div>
                        <div style="width: 50%;">
                            <div data-title="ارتفاع (پیکسل)"></div>
                            <div><input type="number" id="project_Height"></div>
                        </div>
                    </div>

                    <div class="pdrl10" style="text-align: left;">
                        <input type="button" value="ایجاد پروژه جدید و شروع" id="btnCreateNewProject">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>