<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ساز - پروژه ها</title>

    <%-global_header%>
        <link rel="stylesheet" href="/styles/home.css">
        <script src="/scripts/home.js"></script>
</head>

<body>
    <script>
        const PROJECTS = JSON.parse('<%-projects%>')
    </script>

    <div class="">
        <button class="flexCenter" id="btnOpenNewProjectView">
            <span>ساختن پروژه جدید</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-plus w-5 h-5">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
        </button>
    </div>

    <div id="allProjects"></div>

    <div class="view" id="newProject">
        <div class="window">
            <div class="toolbar" data-toolbar-title="پروژه جدید">
                <div class="btn close" onclick="closeView('#newProject')"></div>
            </div>
            <div class="contents">
                <div class="section">
                    <div class="pdrl10" data-title="اطلاعات پایه" style="font-weight: bold;"></div>

                    <div class="pdrl10" data-title="نام پروژه"></div>
                    <input type="text" id="project_Name">

                    <div class="pdrl10" data-title="جهت کلی محتوای صفحه"></div>
                    <select id="project_Direction">
                        <option value="rtl" selected>راست به چپ (rtl)</option>
                        <option value="rtl">چپ به راست (ltr)</option>
                    </select>

                    <div class="pdrl10" style="text-align: left;">
                        <input type="button" value="ایجاد پروژه جدید و شروع" id="btnCreateNewProject">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>