body {
    background-color: lightgray;
}

#EditorContainer {
    
}

#ComponentsAdder {
    width: 200px;
    height: 100dvh;
    background-color: white;
}

#EditorArea {
    position: relative;
}

#Page {
    position: absolute;
}

#Viewport {
    position: absolute;
    border: 1px dashed red;
}