body {
    background-color: lightgray;
}

#EditorContainer {
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

#EditorContainer>div {
    position: absolute;
    overflow: auto;
}

#ComponentsAdder,
#Timeline,
#ComponentsTree,
#ComponentsProperties {
    background-color: white;
    border-radius: 4px;
    z-index: 100000;
    box-shadow: 0 0 10px #00000099;
}

#ComponentsAdder {
    height: 65dvh;
    left: 1dvw;
    top: 3dvh;
}

#Timeline {
    width: 83dvw;
    left: 1dvw;
    bottom: 3dvh;
}

#Timeline.open {
    height: 25dvh;
}

#EditorArea {
    overflow: visible !important;
}

#Page {
    position: absolute;
    background-color: white;
}

#Viewport {
    position: absolute;
    border: 2px dashed gray;
}

#ComponentsTree {
    height: 50dvh;
    right: 1dvw;
    top: 3dvh;
}

#ComponentsAdder.open,
#ComponentsTree.open,
#ComponentsProperties.open {
    width: 14dvw;
}

#ComponentsProperties {
    height: 40dvh;
    right: 1dvw;
    bottom: 3dvh;
}

.ComponentAdder {
    transition: all 0.2s;
}

.ComponentAdder:hover {
    background-color: #a1a1a1;
}