body {
    background-color: lightgray;
}

#EditorContainer {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}

#EditorContainer>div {
    position: absolute;
    overflow: auto;
}

#ComponentsAdder,
#Timeline,
#ComponentsThree,
#ComponentsProperties {
    background-color: white;
    border-radius: 4px;
    z-index: 100000;
    box-shadow: 0 0 10px #00000099;
}

#ComponentsAdder {
    height: 65dvh;
    left: 1dvw;
    top: 3dvh;
}

#Timeline {
    width: 83dvw;
    left: 1dvw;
    bottom: 3dvh;
}

#Timeline.open {
    height: 25dvh;
}

#EditorArea {
    position: relative !important;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
}

#Page {
    position: absolute;
    background-color: white;
}

#Viewport {
    position: absolute;
    border: 2px dashed gray;
}

#ComponentsThree {
    height: 50dvh;
    right: 1dvw;
    top: 3dvh;
}

#ComponentsAdder.open,
#ComponentsThree.open,
#ComponentsProperties.open {
    width: 14dvw;
}

#ComponentsProperties {
    height: 40dvh;
    right: 1dvw;
    bottom: 3dvh;
}