:root {
    --border-gray-color: #cbcbcb;
}

* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.cupo {
    cursor: pointer;
}

.ovau {
    overflow: auto;
}

.hidden {
    display: none;
}

[data-title] {
    line-height: 25px;
}

[data-title]::before {
    content: attr(data-title);
}

.open [data-title-open]::before {
    content: attr(data-title-open);
}

.pdrl10 {
    padding: 0 10px;
}

.pd4-10 {
    padding: 4px 10px;
}

.brdButton {
    border-bottom: 1px solid var(--border-gray-color);
}

.brdRight {
    border-right: 1px solid var(--border-gray-color);
}

.w10 {
    width: 10%;
}

.flexCenter,
.flexFullCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexFullCenter {
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.view {
    position: fixed;
    left: 0;
    bottom: -100dvh;
    transition: all 0.5s;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.view.open {
    bottom: 0;
}

.view .window {
    position: absolute;
    background-color: white;
    bottom: 0;
    padding: 0 20px 0 20px;
    width: calc(100dvw - 55px);
    height: 99dvh;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 6px 0px #9c9c9c;
}

.view .window .toolbar {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.view .window .toolbar::before {
    content: attr(data-toolbar-title);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 10px;
}

.view .toolbar .btn {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/close.svg);
}

.view .window .toolbar {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.view .section {
    border-bottom: 1px solid #E9E6DD;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.view select,
.view input[type="date"],
.view input[type="text"],
.view input[type="number"],
.view input[type="password"],
.view input[type="color"] {
    margin: 0 10px;
    padding: 2px 10px;
    width: calc(100% - 40px);
    border: 1px solid lightgray;
    border-radius: 5px;
}

.view span.select2-selection.select2-selection--single {
    border-radius: 20px;
    border: 1px solid lightgray;
    transition: all 0.2s;
    padding: 2px 10px;
    font-size: 10px;
}

.view span.select2-selection.select2-selection--multiple {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 10px;
    padding: 2px 10px;
}

.view .select2-container {
    margin: 0 10px;
    width: calc(100% - 20px) !important;
}

.view input[type="button"] {
    border-radius: 4px;
    padding: 2px 10px;
    border: none;
    margin: 0;
    background-color: #212121;
    color: white;
}